---
realms:
  - name: "Coral"
    type: "provider"
    roles:
      - name: "super_admin"
        title: "Super Admin"
        users:
          - email: "admin@coral.com"
            password: "superC@FM"
      - name: "admin"
        title: "Admin"
        users: [ ]
      - name: "coordinator"
        title: "Coordinator"
        users: [ ]
      - name: "project_manager"
        title: "Project Manager"
        users: [ ]
      - name: "assistant_project_manager"
        title: "Assistant Project Manager"
        users: [ ]
      - name: "technician"
        title: "Technician"
        users: [ ]
      - name: "procurement"
        title: "Procurement"
        users: [ ]
  - name: "Globalworth"
    type: "beneficiary"
    roles:
      - name: "global_general_manager"
        title: "General Manager"
        users:
          - email: "admin@globalworth.com"
            password: "superC@FM"
      - name: "building_manager"
        title: "Building Manager"
        users: [ ]
  - name: "Amazon"
    type: "tenant"
    roles:
      - name: "amazon_general_manager"
        title: "General Manager"
        users:
          - email: "admin@amazon.com"
            password: "superC@FM"
      - name: "office_manager"
        title: "Office Manager"
        users: [ ]
