# Formatted with https://jsonformatter.org/yaml-formatter
database_name: cafm-identity
resource_trees:
  tree_0: &ref_tree_0
    resource_type: realm
    name: realm_0
    realm_type: provider
    children:
      - resource_type: ou
        name: ou_0
        children:
          - name: project_0
            resource_type: project
            children: []
      - resource_type: ou
        name: ou_1
        children:
          - name: project_1
            resource_type: project
            children: []
  tree_1: &ref_tree_1
    resource_type: realm
    name: realm_1
    realm_type: provider
    children:
      - resource_type: ou
        name: ou_2
        children:
          - resource_type: project
            name: project_2
            children: []
      - resource_type: ou
        name: ou_3
        children:
          - resource_type: project
            name: project_3
            children: []
  tree_2: &ref_tree_2
    resource_type: realm
    name: digitalmob
    realm_type: provider
    children:
      - resource_type: ou
        name: "Global Worth"
        children:
          - resource_type: project
            name: "Pipera 21"
            children: []
      - resource_type: ou
        name: "Amazon"
        children:
          - resource_type: project
            name: "Vlaicu 13"
            children: []

permission_trees:
  perm_tree_0: &ref_perm_tree_0
    tree_type: collection
    children:
      - name: api:create:identity:create_ou
  perm_tree_1: &ref_perm_tree_1
    tree_type: collection
    children:
      - name: api:update:project:partial_update_standard_maintenance_procedure
      - name: api:read:project:get_daily_check_procedures
      - name: api:update:project:update_maintenance_procedure_operation_parameter
  perm_tree_2: &ref_perm_tree_2
    tree_type: aggregation
    children: [*ref_perm_tree_0, *ref_perm_tree_1]
  perm_tree_3: &ref_perm_tree_3_read_only
    tree_type: collection
    children:
      - name: api:read:*:*
  perm_tree_4: &ref_perm_tree_4_read_and_create
    tree_type: collection
    children:
      - name: api:read:*:*
      - name: api:create:*:*
  perm_tree_5: &ref_perm_tree_5_permit_all
    tree_type: collection
    children:
      - name: api:*:*:*

role_trees:
  role_0: &ref_role_0
    name: role_0
    title: "Role 0 (from tree) "
    permissions: [*ref_perm_tree_0]
    access: [*ref_tree_0]
  role_1: &ref_role_1
    name: role_1
    title: "Role 1 (from tree) "
    permissions: [*ref_perm_tree_0, *ref_perm_tree_1]
    access: [*ref_tree_0, *ref_tree_1]
  role_2: &ref_role_2
    name: role_2
    title: "Role 2 (from tree) "
    permissions: [*ref_perm_tree_1]
    access: [*ref_tree_1]
  role_3: &ref_role_3
    name: super_admin
    title: "Super Admin"
  role_4: &ref_role_4
    name: admin
    title: "Admin"
    permissions: [*ref_perm_tree_5_permit_all]
  role_5: &ref_role_5
    name: coordinator
    title: "Coordinator"
    permissions: [*ref_perm_tree_4_read_and_create]
  role_7: &ref_role_7
    name: project_manager
    title: "Project Manager"
    permissions: [*ref_perm_tree_4_read_and_create]
  role_8: &ref_role_8
    name: assistant_project_manager
    title: "Assistant Project Manager"
    permissions: [*ref_perm_tree_3_read_only]
  role_9: &ref_role_9
    name: tehnician
    title: "Technician"
    permissions: [*ref_perm_tree_3_read_only]
  role_10: &ref_role_10
    name: procurment
    title: "Procurement"
    permissions: [*ref_perm_tree_3_read_only]


user_trees:
  user_0: &ref_user_0
    email: user_1@local.me
    password: '1234'
    roles: [*ref_role_0, *ref_role_1]
  user_1: &ref_user_1
    email: admin2@local.me
    password: '1234'
    roles: [*ref_role_2]
  user_2: &ref_user_2
    email: admin@coral.com
    password: 'superC@FM'
    roles: [*ref_role_3]
  user_3: &ref_user_3
    email: admin@globalworth.com
    password: 'superC@FM'
    roles: [*ref_role_3]
  user_4: &ref_user_4
    email: admin@amazon.com
    password: 'superC@FM'
    roles: [*ref_role_3]
